/*
 *path = 'src/static/css/app.css'
 *引入 ant 会把html font-size设为50px; 再此设置与它抵消
 */
#root{
    position: relative;
    font-size: 1rem;
    background-color: #FFF;
}
@media screen and (max-width: 340px) {
    #root{
        font-size: 0.85rem;
    }
}
@media screen and (min-width: 340px) and (max-width: 400px) {
    #root{
        font-size: 1rem;
    }
}
@media screen and (min-width: 400px) and (max-width: 750px) {
    #root{
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 750px) and (max-width: 1200px) {
    #root{
        font-size: 1.6rem;
    }
}
/*过度动画*/
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}



.component-out-leave,.component-out-leave-active{
  display: none;
}
.component-out-enter-active, .component-out-leave-active {
  transition: transform .2s ease;
}
.component-out-enter, .component-out-leave-active {
  transform: translateX(-100%);
}


/*Dialog*/
.details-list>li:not(:last-child) {
    border-bottom: 1px solid #EDEDED;
    padding: 0.5em 0;
}
.details-item-left{
    color: #000;
}
.details-item-right{

}
/*公共list样式*/
.list-more{
    padding: 0.4em 0;
}
.item .btn {
    border-top: 1px solid #EEEDED;
}
.item>.item-body{
    padding: 0.5em 1em;
    margin-top: 0.1em;
    font-size: 0.8em;
}
.item-body>.flex-row {
    padding: 3px 0;
}
.item-top .issueNo{
    color: rgb(106, 196, 246);
}
.item-body .issueNo{
    color: rgb(106, 196, 246);
}

.item-title-center{
    font-size: 0.8em;
}
.item-content{
    padding-left: 2.6em;
    margin-top: 0.8em;
}
.item-top{
    padding: 0.5em 1em;
    font-size: 0.8em;
    border-bottom: 1px solid #EEEDED;
}
.item-top span{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-top span.left{
    display: inline-block;
    max-width: 8em;
    white-space: normal;
    vertical-align: top;
}
.item-top span.right{
    display: inline-block;
    white-space: normal;
}
.item-top [class*="flex-col-"]{
    padding: 3px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item-project-progress{
    padding: 1em 1em;
}


/*待办事项*/
.gtasks-list .item-top .right {
    max-width: 16em;
}
.review-time .review-time-edit{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    margin-left: 6px;
    width: 20px;
    height: 20px;
}
.review-time .review-time-edit .icon-edit1 {
    width: 1.2em;
    height: 1.2em;
}
.item-body .review-time{
    position: relative;
}
/*iconfont*/
.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em; height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
        normalize.css 中也包含这行 */
    overflow: hidden;
}
.icon.icon-up{
    width: 3.5em;
    height: 3.5em;
}