/*重写ant*/
.am-list-item {
    min-height: 10px;
}
.am-input-label .am-input-label-5,
.am-list-item .am-input-label,
.am-list-item .am-input-control input {
    font-size: 16px;
}

.am-list-item .am-input-control input {
    font-size: 16px;
    line-height: 3;
}
.am-list-item.am-input-item{
    height: auto;
}