/*path = 'src/view/home/index.css'*/
.home{
    background: #F2F2F2;
}
.home .home-top{
    height: 5.4vh;
    background: url(../../static/images/home_top.jpg) center center;
    background-size: contain;
}
.home .home-banner{
    height: 30vh;
    background: url(../../static/images/home_banner.jpg) center center;
    background-size: contain;
}
.home .home-info,
.home .home-menu{
    position: relative;
    background: #FFF;
    border-radius: 4px;
    padding: 0 20px;
}
.home .home-top>img,
.home .home-info> img{
    width: 100%;
    height: 100%;
}
.home .home-info{
    height: 15vh;
}
.home .icon-wrap{
    width: 4.8em;
    height: 4.8em;
    max-width: 100%;
    min-width: 100%;
    padding-top: 20%;
    color: #FFF;
    background: #706E6F;
    text-align: center;
}
.home .home-info .info{
    width: 3em;
    height: 3em;
}
.home .home-menu{
    height: 49.6vh;
}
.home-menu-item{
    position: relative;
    display: inline-block;
    width: 4em;
    height: 4em;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: url(../../static/images/home_menu.png) center center no-repeat;
    background-size: contain;
    text-align: center;
}
.home-menu-item .icon{
/*    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    color: #FFF;
    width: 2.8em;
    height: 2.8em;
}
.home-menu-item span{
    margin-top: 2px;
    display: inline-block;
    font-size: 0.7em;
    width: 100%;
    white-space: nowrap;
}