/*path = 'src/view/home/index.css'*/
.home{
    background: #F2F2F2;
}

.home .home-top{
    height: 5.8vh;
}
.home .home-banner{
    height: 34vh;
}
.home .home-top,
.home .home-banner{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.home .home-info,
.home .home-menu{
    position: relative;
    background: #FFF;
    border-radius: 4px;
    padding: 0 20px;
    margin: 6px;
}
.home .home-top>img,
.home .home-info> img{
    width: 100%;
    height: 100%;
}
.home .home-info{
    font-size: 0.7em;
    height: 18vh;
}
.home .icon-wrap{
    width: 4.8em;
    height: 4.8em;
    max-width: 100%;
    min-width: 100%;
    padding-top: 20%;
    color: #FFF;
    background: #706E6F;
    text-align: center;
}
.home .home-info .info{
    width: 3em;
    height: 3em;
}
.home .home-menu{
    padding: 10px 20px;
    height: 38.6vh;
    overflow: hidden;
}
.home-menu .flex-row{
    height: auto;
    margin-bottom: 15px;
}
.home-menu-item{
    position: relative;
    display: inline-block;
    width: 3em;
    height: 4em;
    padding-top: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.home-menu-item.gb0 {
    background: url(../../static/images/home_menu_0.png) center center no-repeat;
    background-size: contain;
}
.home-menu-item.gb1 {
    background: url(../../static/images/home_menu_1.png) center center no-repeat;
    background-size: contain;
}
.home-menu-item .icon{
    color: #FFF;
    width: 1.9em;
    height: 2.5em;
}
.home-menu-item span{
    margin-top: 2px;
    display: inline-block;
    font-size: 0.7em;
    width: 100%;
    white-space: nowrap;
}
/*部分图标得调整大小*/
.home-menu-item .icon-msg{
    margin-top: -1px;
    width: 1.7em;
    height: 2.3em;
}
.home-menu-item .icon-notice2{
    margin-top: 3px;
    width: 1.5em;
    height: 2.3em;
}


.home-menu-item .icon-monthly{
    margin-top: 3px;
    width: 1.5em;
    height: 2.2em;
}

.home-menu-item .icon-person,
.home-menu-item .icon-department{
    width: 1.5em;
    height: 2.2em;
}
.home-menu-item .icon-department,
.home-menu-item .icon-function{
    margin-top: -1px;
    width: 1.5em;
    height: 2.2em;
}
.home-menu-item .icon-after-sale{
    margin-top: 1px;
    width: 1.8em;
    height: 2.2em;
}

.home .post-item{
    
    margin-right: 6px;
}
.home .post-item.act{
    background: #efecec;
}